<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% load bootstrap4 %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ blog.title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Максим Бекарюков</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="https://vk.com/bekaryukovmv">Вконтакте</a>
                    <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Резюме</a>
                    <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Блог</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            <h1 class="text-center pt-3">{{ blog.title }}</h1>
            <p class="text-center">{{ blog.pub_date }}</p>
            <img class="img-fluid" src="{{ blog.image.url }}" height="200" width="200" alt="">
            <br>
            <br>
            <p>{{ blog.body }}</p>

        </div>
    </main>

    <footer class="text-muted">
        <div class="container text-center">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>© Максим Бекарюков {% now 'Y' %}</p>
        </div>
    </footer>
</body>

</html>